body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

.leaflet-routing-container {
	background-color: white;
	opacity: 0.8;
	width: 320px;
	height: 480px;
	overflow-y: scroll;
}